<h1>CODE FILET SHOW</h1>

<h2><%= @code_fillet.name%></h2>
<p><%= @code_fillet.description%></p>

<%= link_to "Take me to all CodeFillet's", code_fillets_path %> |

<% if current_user %>
	<%= link_to "EDIT Code Fillet", edit_code_fillet_path(@code_fillet) %>
<% end %>